In [2]:
import numpy as np
import pandas as pd

# df = pd.read_csv("./input/sqli.csv",encoding='utf-16')
df = pd.read_csv("./input/test.csv")
df

                                            Sentence  Label
0   select * from users where id = '1' or @ @1 = ...      1
1   select * from users where id = 1 or 1#" (  un...      1
2                      " or pg_sleep ( __TIME__ ) --      1
3  create user name identified by pass123 tempora...      1
4                                                %29      1

In [3]:
## download the corpus of stopwords
import nltk
from nltk.corpus import stopwords 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/ken/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

# min_df = 2 means  ignore the word that only appear one time in all documents
# max_df = 0.7 means ignore the word taht appear in more than 70% of the documents
vectorizer = CountVectorizer( min_df=2, max_df=0.7, stop_words=stopwords.words('english'))
posts = vectorizer.fit_transform(df['Sentence'].values.astype('U')).toarray()
transformed_posts=pd.DataFrame(posts,columns=vectorizer.get_feature_names())

In [6]:
df=pd.concat([df,transformed_posts],axis=1)
df

,Sentence,Label,id,select,union,users,version
0,select * from users where id = '1' or @ @1 = ...,1,1,2,1,1,1
1,"select * from users where id = 1 or 1#"" ( un...",1,1,2,1,1,1
2,""" or pg_sleep ( __TIME__ ) --",1,0,0,0,0,0
3,create user name identified by pass123 tempora...,1,0,0,0,1,0
4,%29,1,0,0,0,0,0

In [10]:
X=df[df.columns[2:]]
X

   id  select  union  users  version
0   1       2      1      1        1
1   1       2      1      1        1
2   0       0      0      0        0
3   0       0      0      1        0
4   0       0      0      0        0

In [11]:
y=df['Label']
y

0    1
1    1
2    1
3    1
4    1
Name: Label, dtype: int64