In [1]:
import numpy as np
import pandas as pd

# df = pd.read_csv("./input/test.csv")
df = pd.read_csv("./input/sqli.csv",encoding='utf-16')
df

                                                Sentence  Label
0                                                    NaN      1
1                          " or pg_sleep ( __TIME__ ) --      1
2      create user name identified by pass123 tempora...      1
3                                                    %29      1
4      ' AND 1 = utl_inaddr.get_host_address  (  (  S...      1
...                                                  ...    ...
33756                                             syrett      0
33757                                   arrechea bellveh      0
33758                                               1664      0
33759                                           almaluez      0
33760                                          f6lo40r06      0

[33761 rows x 2 columns]

In [2]:
## download the corpus of stopwords
import nltk
from nltk.corpus import stopwords 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/ken/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

# min_df = 2 means  ignore the word that only appear one time in all documents
# max_df = 0.7 means ignore the word taht appear in more than 70% of the documents
vectorizer = CountVectorizer( min_df=2, max_df=0.7, stop_words=stopwords.words('english'))
posts = vectorizer.fit_transform(df['Sentence'].values.astype('U')).toarray()
transformed_posts=pd.DataFrame(posts)
# transformed_posts=pd.DataFrame(posts, columns=vectorizer.get_feature_names())

In [4]:
df=pd.concat([df,transformed_posts],axis=1)
df

,Sentence,Label,0,1,2,3,4,5,6,7,...,10311,10312,10313,10314,10315,10316,10317,10318,10319,10320
0,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,""" or pg_sleep ( __TIME__ ) --",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,create user name identified by pass123 tempora...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,%29,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,' AND 1 = utl_inaddr.get_host_address ( ( S...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33756,syrett,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33757,arrechea bellveh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33758,1664,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33759,almaluez,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33760,f6lo40r06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X=df[df.columns[2:]]
X

,0,1,2,3,4,5,6,7,8,9,...,10311,10312,10313,10314,10315,10316,10317,10318,10319,10320
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33756,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33757,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33758,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33759,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y=df['Label']
y

0        1
1        1
2        1
3        1
4        1
        ..
33756    0
33757    0
33758    0
33759    0
33760    0
Name: Label, Length: 33761, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train

,0,1,2,3,4,5,6,7,8,9,...,10311,10312,10313,10314,10315,10316,10317,10318,10319,10320
13061,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28622,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16850,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11284,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Using simple Neural Network

In [8]:
from keras.models import Sequential
from keras import layers
from keras.preprocessing.text import Tokenizer
from keras.wrappers.scikit_learn import KerasClassifier

2021-07-26 18:07:01.802172: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-07-26 18:07:01.802217: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [9]:
input_dim = X_train.shape[1]    # number of features

model = Sequential()
model.add(layers.Dense(20, input_dim=input_dim, activation='relu'))
model.add(layers.Dense(10,  activation='tanh'))
model.add(layers.Dense(1024, activation='relu'))

model.add(layers.BatchNormalization())
model.add(layers.Dropout(0.5))
model.add(layers.Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                206440
_________________________________________________________________
dense_1 (Dense)              (None, 10)                210
_________________________________________________________________
dense_2 (Dense)              (None, 1024)              11264
_________________________________________________________________
batch_normalization (BatchNo (None, 1024)              4096
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 1025
=================================================================
Total params: 223,035
Trainable params: 220,987
Non-trainable params: 2,048
_________________________________________________________________

2021-07-26 18:07:03.454250: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2021-07-26 18:07:03.454288: W tensorflow/stream_executor/cuda/cuda_driver.cc:326] failed call to cuInit: UNKNOWN ERROR (303)
2021-07-26 18:07:03.454322: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (suisei): /proc/driver/nvidia/version does not exist

In [10]:
classifier_nn = model.fit(X_train,y_train,
                    epochs=10,
                    verbose=True,
                    validation_data=(X_test, y_test),
                    batch_size=15)

In [ ]:
pred=model.predict(X_test)

for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    elif pred[i]<=0.5:
        pred[i]=0

Error: Kernel is dead

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.9761904761904762

# How to predict for one string

In [ ]:
test_one = vectorizer.transform([' &quot; Hopefully &apos;t afraid spiders ? &quot; asks Waltraud Ries , pointing large spider door frame']).toarray()
test_pred = model.predict(test_one)
test_pred

array([[0.00066462]], dtype=float32)